header {
    color: #5f0f40
}
h2 {
    color: #5f0f40
}
img {
    flex-flow: column wrap;
    margin: 10px;
    width: 400px;
    height: 400px;
    justify-content: center;
    align-items: flex-start;
}
a:hover {
    color: #44ffd2;
}
a:visited {
    color: #586f7c
}
body {
    font-family: serif;
    background-color: #89d2dc;
    align-items: center;
}
header {
    background-color: #e3d7ff;
}
footer {
    background-color: #e3d7ff;
}
.button {
    background-color: #5f0f40;
    border: none;
    padding: 5px 5px 5px 5px;
    text-align: center;
    display: inline-block;
    font-size: 40px;
}
p {
    flex-wrap: wrap;
}