header {
    color: #5f0f40
}
h2 {
    color: #5f0f40
}
img {
    display: flex;
    flex-flow: row wrap;
    margin: 10px;
    width: 33%;
    height: 33%;
    justify-content: center;
    align-items: center;
}
a:hover {
    color: #cccc00;
}
a:visited {
    color: #586f7c
}
body {
    font-family: serif;
    background-color: #89d2dc;
    align-items: center;
}
header {
    background-color: #e3d7ff;
}
footer {
    background-color: #e3d7ff;
}
.button {
    background-color: #5f0f40;
    border-radius: 8px;
    padding: 5px 5px 5px 5px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
}
p {
    flex-wrap: wrap;
    width: 100%;
    padding: 5px;
}
div {
    margin: 20px; 
    border: 5px solid #5f0f40;
    border-radius: 10px;
}
nav a {
    padding: 20px;
    font-size: 20px;
    width: 100px;
    text-align: center;
    background: #e3d7ff;
    border-color: #5f0f40;
    border: 5px;
    margin: 5px;
    color: #cccc00;
    border-radius: 10px;
    display: flex;
    flex-wrap: row;
    justify-content: space-around;
    align-items: center;
}
@media screen and (min-width: 900px) {
    body {
        width: 900px;
        margin-left: auto;
        margin-right: auto;
    }
}